PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/mrs-traders
COMPANY_NAME=M.R.S Traders
COMPANY_TYPE=Electrical & Plumbing Shop
ADMIN_NAME=Raja
ADMIN_WHATSAPP=918489820801
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=5
